.nav {
    background-color: grey;
    height: 60px;
    position: relative;
    bottom: 100%;
   top: 0%;
}

.logo {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    bottom:50%;
    left: 1%;
    transform: translate(-50%, -50%);


}

.homenav {
    color: black;
    position: absolute;
    top: 30%;
    bottom:70%;
    left: 40%;
    right: 60%;
    transform: translate(-50%, -50%);

}

.aboutnav {
    color: black;
    position: absolute;
    top: 30%;
    bottom:70%;
    left: 60%;
    right: 40%;
    transform: translate(-50%, -50%);
    

}
header{
    height: 10%;
    width: 100%;


}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main{
    position: relative;
    height: 99%;
    width: 90%;
    flex: 1;
    padding: 5%;
    min-height: 60vh;
    overflow: auto;
}
footer{
    height: 10%;
    width: 100%;
    text-align: center;
    padding: 2%;
    background-color: grey;
   



}

@media screen and (max-width: 768px) {
    main {
        padding: 10%;
    
    }
    footer{
        padding: 5%;
    }
    }
.myName{
    color: rgb(232, 105, 105);
    position: absolute;
    width:400px;
    top: 10%;
    bottom:90%;
    left: 60%;
    right: 40%;
    transform: translate(-50%, -50%);


}
.myPhoto{
    height: 300px;  width: 150px;
    position: absolute;

    top: 10%;
    bottom:90%;
    left: 30%;
    right: 70%;
    transform: translate(-50%, -50%);




}
.overview{
    position: absolute;
    width: 200px;
    height: 100px;
    text-align: center;
    top: 30%;
    bottom:55%;
    left: 55%;
    right: 45%;
    border: 1px solid black;
    transform: translate(-50%, -50%);


}
.childFbody{
    position: absolute;
    
    top: 70%;
    bottom:30%;
    left: 40%;
    right: 60%;
    transform: translate(-50%, -50%);


}
.contactMe{
    color: brown;
    width: 300px;
    height: 300px;
    position: relative;
    bottom:20%;
    left: 60%;
    right: 40%


}
.data{
    position: absolute;
    right: 100%;
    transform: translate(-50%, -50%);

}
.submit{
    position: absolute;
    top: 60%;
    right: 70%;
}
.massegein{
    height: 40px;
   
}








a:link {
    text-decoration: none;
}

    
