.nav {
    background-color: grey;
    height: 60px;
    position: relative;
    bottom: 100%;
   top: 0%;
}

.logo {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    bottom:50%;
    left: 1%;
    transform: translate(-50%, -50%);


}

.homenav {
    color: black;
    position: absolute;
    top: 30%;
    bottom:70%;
    left: 40%;
    right: 60%;
    transform: translate(-50%, -50%);

}

.aboutnav {
    color: black;
    position: absolute;
    top: 30%;
    bottom:70%;
    left: 60%;
    right: 40%;
    transform: translate(-50%, -50%);

}

.title {
    text-align: center;

}

.parents {
    position: relative;


}

.tablechip {
    width: 250px;
    height: 50px;
    text-align: center;
    position: relative;
}

.green {
    background-color: green;
    width: 175px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);

}

.red {
    background-color: red;
    width: 175px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);

}



.footer{
    text-align: center;
    height: 60px;
    width: 100%;
   background-color: grey;
   position: absolute;
   bottom: 0%;
   top: 100%;


}
a:link {
    text-decoration: none;
}