body{
    height: 100vh;
    background-color:#fff ;
    background-size: cover;
    margin-top: 25px;
    padding: 50px;
}   
header {
    background-color: rgb(10, 65, 65);
    position: fixed;
    display: flex;
    align-items: center;
    font-size: x-large;
    padding: 5px;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    
}
header .logo{
    position: absolute;

    height: 80px;
    border-radius: 20%;

}
header .home{
    position: absolute;
    display: flex;
    margin-left: 40%;
    margin-right:60% ;
    color: black;
    background-color: #fff;
    border-radius: 20%;
    text-decoration: none;
    
}
.home:hover{
    background-color: rgb(10, 65, 65);
}
header .about{
    
    position: absolute;
    margin-left: 60%;
    margin-right: 40%;
    color: black;
    background-color: #fff;
    border-radius: 20%;
    text-decoration: none;
}
.about:hover{
    background-color: rgb(10, 65, 65);
}





main{ 
   flex-grow: 1;
   overflow: auto;
   padding: 30px;


}
main .title {
    text-align: center;

}
main .table{
    margin-top:  50%;
    margin-bottom: 50%;
    margin: 0 auto;
   
}

.parents {
    position: relative;


}

.tablechip {
    width: 250px;
    height: 50px;
    text-align: center;
    position: relative;
}

.green {
    background-color: green;
    width: 175px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);

}

.red {
    background-color: red;
    width: 175px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);

}







footer {
    background-color: rgb(10, 65, 65);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-small;
    padding: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
}
